.awpcp-submit-listing-section {
    .awpcp-box;
    .awpcp-bordered-box;
    .awpcp-rounded-box;

    background-color: #fff;
    margin-bottom: 8px;
    padding: 0;

    .awpcp-submit-listing-section-title {
        background: #d2d2d2;
        color: #333;
        cursor: pointer;
        font-size: 1em;
        margin: 0;
        padding: 2px 4px;
    }

    .awpcp-submit-listing-section-content {
        padding: 12px;
    }

    .awpcp-form-spacer {
        margin-bottom: 10px;
    }

    .awpcp-order-submit-listing-section__read_mode p {
        margin: 0;
    }
    .awpcp-order-submit-listing-section__read_mode p span {
        font-weight: bold;
    }

    .awpcp-order-submit-listing-section--selected-categories {
        font-weight: bold;
    }
}
