parameters:
	level: 3
	reportUnmatchedIgnoredErrors: false
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- stubs.php
		- functions.php
		- cron.php
	excludePaths:
		- */assets/*
		- */vendor/*
		- */languages/*
		- */tests/*
		- stubs.php
		- */includes/class-fileop.php
		- */bin/*
		- */build/*
	ignoreErrors:
		- '#no (typehint|value type|return type)+ specified.#'
		- '#might not be defined.#'
		- '#has an unused parameter \$null#'
