<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
	ignoreDeprecatedCodeUnitsFromCodeCoverage="true"
	>
	<testsuites>
		<testsuite name="WP Unit Testing">
            <directory prefix="test-" suffix=".php">tests/suite/</directory>

            <exclude>tests/suite/cron/</exclude>
            <exclude>tests/suite/frontend/</exclude>
            <exclude>tests/suite/functions/</exclude>
            <exclude>tests/suite/includes/</exclude>
            <exclude>tests/suite/templates/</exclude>
            <exclude>tests/suite/admin/credit-plans/</exclude>
            <exclude>tests/suite/admin/import/</exclude>
            <exclude>tests/suite/test-install.php</exclude>
            <exclude>tests/suite/test-premium-modules.php</exclude>
            <exclude>tests/suite/admin/listings/test-admin-panel-listings-table.php</exclude>
            <exclude>tests/suite/admin/listings/test-manage-listings-admin-page.php</exclude>
            <exclude>tests/suite/admin/listings/test-renew-listing-admin-page.php</exclude>
            <exclude>tests/suite/admin/test-listings-table.php</exclude>
            <exclude>tests/suite/admin/test-manage-categories-admin-page.php</exclude>
            <exclude>tests/suite/admin/test-user-listings-admin-page.php</exclude>

		</testsuite>
	</testsuites>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>
</phpunit>
