#wpbody-content .awpcp-admin-fees .inline-edit-row .awpcp-fee-form-categories-column {
    box-sizing: border-box;
    padding-left: 15px;
    width: 50%;

    .cat-checklist label {
        line-height: 1;
    }
}
