.awpcp-admin-quick-view-listing-submenu-item {
    display: none;
}

@select2-border-color: rgb(221, 221, 221);

.tablenav {
    .actions {
        overflow: visible;
    }

    .select2-container {
        margin-top: 1px;

        .select2-dropdown, .select2-selection {
            border-color: @select2-border-color;
        }
        .select2-selection__rendered {
            line-height: 26px;
        }
        .select2-selection__clear {
            padding-left: 4px;
        }
    }
}
.select2-dropdown {
    border-color: @select2-border-color;
}

.awpcp-search-mode-dropdown {
    float: left;
    margin: 0 4px 0 0;
}

.column-taxonomy-awpcp_listing_category,
.column-awpcp-start-date,
.column-awpcp-end-date,
.column-awpcp-renewed-date,
.column-awpcp-payment-term {
    width: 10%;
}
