.awpcp-textfield, .inputbox,
.awpcp-textarea {
    box-sizing: border-box;
    border: 1px solid #888888;
    width: 80%;
}

.awpcp-textfield, .inputbox {
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
}

.awpcp-price-form-field-curency-symbol-on-left {
    padding-right: 3px;
}
.awpcp-price-form-field-curency-symbol-on-right {
    padding-left: 3px;
}
.awpcp-price-textfield {
    width: 78%;
}

@media only screen and (max-width: 480px) {
    .awpcp-page {
        .button, input[type="submit"] {
            margin-bottom: 5px;
            width: 100%;
        }
    }

    .awpcp-dropdown,
    .awpcp-textfield, .inputbox,
    .awpcp-textarea {
        width: 100%;
    }

    .awpcp-price-textfield {
        width: 96%;
    }
}
