/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.align-text-right {
    text-align: right;
}
.align-text-left {
    text-align: left;
}

.awpcp-clearboth {
    clear: both;
}
.awpcp-hidden {
    display: none;
}

.awpcp-width-20p {
    width: 20%;
}

.awpcp-inline-label {
    display: inline-block;
}
.awpcp-block-label {
    display: block;
}

.awpcp-list {
    margin-right: 0;

    > li {
        text-align: left;
    }
}
