.awpcp-payment-terms-list .awpcp-payment-terms-list-payment-term {
    list-style-type: none;
    margin: 0 0 6px;
    padding: 10px;

    div {
        margin-bottom: 0;
    }
}

.awpcp-payment-term-duration {
    float: left;
    text-align: center;
    width: 15%;

    .awpcp-payment-term-duration-amount,
    .awpcp-payment-term-duration-interval {
        display: block;
        line-height: 1.1em;
    }
    .awpcp-payment-term-duration-amount {
        font-size: 34px;
        font-weight: bold;
        padding-top: 22px;
    }
    .awpcp-payment-term-duration-interval {
        font-size: 24px;
    }
}

.awpcp-payment-term-content {
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    width: 60%;

    .awpcp-payment-term-name {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .awpcp-payment-term-features {
        margin: 10px 0 !important;
        padding-left: 10px !important;

        li {
            list-style-type: disc !important;
            list-style-position: inside;
            line-height: 1.25em
        }
    }
}

.awpcp-payment-term-price {
    float: left;
    width: 25%;

    label {
        .awpcp-bordered-box;

        background: #FDFDFD;
        border-radius: 2px;
        border-color: #F3F3F3;
        cursor: pointer;
        display: block;
        padding: 8px 8px;
        font-size: 20px;

        &:hover {
            background: #fff;
            border-color: #d0d0d0;
        }

        &:active {
            background: #BBB;
            border-color: #999;
            color: #FFF;
        }

        input {
            vertical-align: 2px;
            margin-right: 4px;
        }
    }

    .awpcp-payment-term-price-in-currency {
        margin-bottom: 5px;
        padding-top: 17px;
    }
    .awpcp-payment-term-price-in-credits {
        margin-bottom: 0;
    }
}
